[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
requests = "*"
beautifulsoup4 = "*"
seaborn = "*"
scikit-learn = "*"
ipykernel = "*"
jupyter = "*"
notebook = "*"
mlxtend = "*"

[dev-packages]

[requires]
python_version = "3.10"
